* {
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow-x: hidden;
  position: sticky;
}

img {
  width: 100vw;
}

section {
  width: 100vw;
  height: auto;
}

.home {
  padding: 100px;
}
.element {
  width: 100vw;
  position: absolute;
  object-fit: contain;
  left: 0px;
  top: 400px;
}

.ad {
  width: 100vw;
  position: absolute;
  object-fit: contain;
  object-fit: cover;
  left: 0px;
  top: 1090px;
}

img.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.porsche {
  width: 100vw;
  position: absolute;
  object-fit: contain;
  left: 0px;
  top: 300px;
}

.car1 {
  width: 100vw;
  position: absolute;
  object-fit: contain;
  left: 0px;
  top: 1700px;
}

.car2 {
  width: 100vw;
  position: absolute;
  object-fit: contain;
  left: 0px;
  top: 2390px;
}

.right {
  height: 20px;
  width: 100wv;
  position: absolute;
  object-fit: contain;
  left: 350px;
  top: 430px;
}

.left {
  height: 20px;
  width: 100wv;
  position: absolute;
  object-fit: contain;
  left: -350px;
  top: 430px;
}

.new {
  width: 100vw;
  position: absolute;
  object-fit: contain;
  object-fit: scale-down;
  left: 0px;
  top: 1070px;
}

.new2 {
  width: 100vw;
  position: absolute;
  object-fit: contain;
  left: 0px;
  top: 1660px;
}

.line {
  width: 100vw;
  position: absolute;
  object-fit: contain;
  left: 0px;
  top: 1785px;
}

.car3 {
  height: auto;
  width: 760px;
  position: absolute;
  object-fit: contain;
  left: 0px;
  top: 3200px;
}

.car33 {
  height: auto;
  width: 760px;
  position: absolute;
  object-fit: contain;
  left: 720px;
  top: 3200px;
}

.car4 {
  width: 100vw;
  position: absolute;
  object-fit: contain;
  left: 0px;
  top: 4090px;
}

.car5 {
  width: 760px;
  position: absolute;
  object-fit: contain;
  left: 0px;
  top: 4900px;
}

.car55 {
  width: 760px;
  position: absolute;
  object-fit: contain;
  left: 720px;
  top: 4900px;
}

.car6 {
  width: 100vw;
  position: absolute;
  object-fit: contain;
  left: 0px;
  top: 5600px;
}
.car77 {
  width: 760px;
  position: absolute;
  object-fit: contain;
  left: 0px;
  top: 6400px;
}

.car7 {
  width: 760px;
  position: absolute;
  object-fit: contain;
  left: 720px;
  top: 6400px;
}

.line2 {
  width: 100vw;
  position: absolute;
  object-fit: contain;
  left: 0px;
  top: 7410px;
}
.ele {
  width: 100vw;
  position: absolute;
  object-fit: contain;
  left: 0px;
  top: 7510px;
}

.line3 {
  width: 100vw;
  position: absolute;
  object-fit: contain;
  left: 0px;
  top: 8170px;
}

@media screen and (max-width: 520px) {
  .ad {
    width: 520px;
    top: 658px;
  }
  .porsche {
    width: 100vw;
    top: 280px;
  }
  .left {
    width: 100vw;
    top: 340px;
  }
  .right {
    width: 100vw;
    top: 340px;
  }
  .new {
    width: 520px;
    top: 645px;
  }
  .new2 {
    width: 520px;
    top: 820px;
  }
  .car1 {
    top: 900px;
    width: 520px;
  }
  .car2 {
    top: 900px;
    width: 520px;
  }
  .car3 {
    top: 1150px;
    width: 520px;
  }
  .car4 {
    top: 1890px;
    width: 520px;
  }
  .car5 {
    top: 2180px;
    width: 520px;
  }
  .car6 {
    top: 2910px;
    width: 520px;
  }
  .car1 {
    top: 3203px;
    width: 520px;
  }
  .car55 {
    top: 3600px;
    width: 520px;
  }
  .car77 {
    top: 3495px;
    width: 520px;
  }
  .line2 {
    top: 4500px;
  }
  .ele {
    top: 4260px;
  }
  .line3 {
    top: 4220px;
  }
}
