* {box-sizing:border-box;}


body {
    background-color: black;
    overflow-x: hidden;
    position: sticky;
}

img {
    width:100vw;
}

section {
    width: 100vw;
    height:auto;
}

.home {
    padding:100px;
}
.element {
    width: 100vw; 
    position: absolute;
    object-fit: contain;
    left: 0px;
    top: 400px;
}

.ad {
    width: 100vw; 
    position: absolute;
    object-fit: contain;
    object-fit: cover;
    left: 0px;
    top: 1090px;
}

img.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index:-1;
}

.porsche {
    width: 100vw; 
    position: absolute;
    object-fit: contain;
    left: 0px;
    top: 300px;
}

.car1 {
    width: 100vw; 
    position: absolute;
    object-fit: contain;
    left: 0px;
    top: 1700px;
}

.car2 {
    width: 100vw; 
    position: absolute;
    object-fit: contain;
    left: 0px;
    top: 2390px;
}

.right {
    height: 20px; 
    width: 100wv; 
    position: absolute;
    object-fit: contain;
    left: 350px;
    top: 430px;
}

.left {
    height: 20px; 
    width: 100wv; 
    position: absolute;
    object-fit: contain;
    left: -350px;
    top: 430px;
}

.new { 
    width: 100vw; 
    position: absolute;
    object-fit: contain;
    object-fit: scale-down;
    left: 0px;
    top: 1070px;
}

.new2 { 
    width: 100vw; 
    position: absolute;
    object-fit: contain;
    left: 0px;
    top: 1660px;
}

.line { 
    width: 100vw; 
    position: absolute;
    object-fit: contain;
    left: 0px;
    top: 1785px;
}

.car3 {
    height:auto;
    width: 760px; 
    position: absolute;
    object-fit: contain;
    left: 0px;
    top: 3200px;
}

.car33 {
    height:auto;
    width: 760px; 
    position: absolute;
    object-fit: contain;
    left: 720px;
    top: 3200px;
}

.car4 { 
    width: 100vw; 
    position: absolute;
    object-fit: contain;
    left: 0px;
    top: 4090px;
}

.car5 { 
    width: 760px; 
    position: absolute;
    object-fit: contain;
    left: 0px;
    top: 4900px;
}

.car55 { 
    width: 760px; 
    position: absolute;
    object-fit: contain;
    left: 720px;
    top: 4900px;
}

.car6 { 
    width: 100vw; 
    position: absolute;
    object-fit: contain;
    left: 0px;
    top: 5600px;
}
.car77 { 
    width: 760px; 
    position: absolute;
    object-fit: contain;
    left: 0px;
    top: 6400px;
}

.car7 { 
    width: 760px; 
    position: absolute;
    object-fit: contain;
    left: 720px;
    top: 6400px;
}

.line2 { 
    width: 100vw; 
    position: absolute;
    object-fit: contain;
    left: 0px;
    top: 7410px;
}
.ele { 
    width: 100vw; 
    position: absolute;
    object-fit: contain;
    left: 0px;
    top: 7510px;
}

.line3 { 
    width: 100vw; 
    position: absolute;
    object-fit: contain;
    left: 0px;
    top: 8170px;
}