* {
    box-sizing: border-box;
}
header {
    border: 1px solid red;
}
main {
    border: 1px solid blue;
}
section{
    border: 1px solid yellow;
}
article{
    border: 1px solid pink;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
}
article img{
    width: 100%;
}
.gallery article {
    flex: 25%;
}
.featured {
    display: flex;
}

.featured article {
    flex: 1;
}
.featured .featured-article {
    flex: 2;
}
.featured .middle {
    flex: 400px;
}
